*{
    box-sizing: border-box;
}

#container{
    display: flex;
    flex: 1;
}


body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

nav{
    background: rgb(224, 16, 16);
    width: 45vh;
    height: 100vh;
    font-size: 30px;
}

header,footer{
    background: rgb(251, 255, 0);
    height: 20vh;
    width: 168vh;
    font-size: 30px;
}

.container1{
    display: flex;
}

aside{
    background:rgb(95, 226, 43);
    width: 43vh;
    font-size: 30px;
}

article{
    height: 60vh;
    width: 125vh;
    font-size: 30px;
}

header,footer,article,aside,nav{
    padding: 1em;
}